In [ ]:
#Read CSV files for exploratory data analysis.

In [41]:
import pandas as pd

df_cust = pd.read_csv('anaconda_projects/source_crm/cust_info.csv')
df_prd = pd.read_csv('anaconda_projects/source_crm/prd_info.csv')
df_sales = pd.read_csv('anaconda_projects/source_crm/sales_details.csv')

In [ ]:
#Display first 5 columns in dataframes

In [42]:
df_cust.head()

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000.0,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001.0,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002.0,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003.0,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004.0,AW00011004,Elizabeth,Johnson,S,F,2025-10-06

In [43]:
df_prd.head()

,prd_id,prd_key,prd_nm,prd_cost,prd_line,prd_start_dt,prd_end_dt
0,210,CO-RF-FR-R92B-58,HL Road Frame - Black- 58,NaN,R,2003-07-01,NaN
1,211,CO-RF-FR-R92R-58,HL Road Frame - Red- 58,NaN,R,2003-07-01,NaN
2,212,AC-HE-HL-U509-R,Sport-100 Helmet- Red,12.0,S,2011-07-01,2007-12-28
3,213,AC-HE-HL-U509-R,Sport-100 Helmet- Red,14.0,S,2012-07-01,2008-12-27
4,214,AC-HE-HL-U509-R,Sport-100 Helmet- Red,13.0,S,2013-07-01,NaN

In [44]:
df_sales.head()

,sls_ord_num,sls_prd_key,sls_cust_id,sls_order_dt,sls_ship_dt,sls_due_dt,sls_sales,sls_quantity,sls_price
0,SO43697,BK-R93R-62,21768,20101229,20110105,20110110,3578.0,1,3578.0
1,SO43698,BK-M82S-44,28389,20101229,20110105,20110110,3400.0,1,3400.0
2,SO43699,BK-M82S-44,25863,20101229,20110105,20110110,3400.0,1,3400.0
3,SO43700,BK-R50B-62,14501,20101229,20110105,20110110,699.0,1,699.0
4,SO43701,BK-M82S-44,11003,20101229,20110105,20110110,3400.0,1,3400.0

In [22]:
df_cust.dtypes

cst_id                float64
cst_key                object
cst_firstname          object
cst_lastname           object
cst_marital_status     object
cst_gndr               object
cst_create_date        object
dtype: object

In [23]:
df_prd.dtypes

prd_id            int64
prd_key          object
prd_nm           object
prd_cost        float64
prd_line         object
prd_start_dt     object
prd_end_dt       object
dtype: object

In [24]:
df_sales.dtypes

sls_ord_num      object
sls_prd_key      object
sls_cust_id       int64
sls_order_dt      int64
sls_ship_dt       int64
sls_due_dt        int64
sls_sales       float64
sls_quantity      int64
sls_price       float64
dtype: object

Check for NULL or NaN in each dataframe

In [45]:
#check for NaN in cust
df_cust.isna().sum()

#fill NaN with unknowns or 0

cst_id                   4
cst_key                  0
cst_firstname            8
cst_lastname             7
cst_marital_status       7
cst_gndr              4578
cst_create_date          4
dtype: int64

In [26]:
#check Nan in prd
df_prd.isna().sum()

prd_id            0
prd_key           0
prd_nm            0
prd_cost          2
prd_line         17
prd_start_dt      0
prd_end_dt      197
dtype: int64

In [27]:
#check NaN in sale
df_sales.isna().sum()

sls_ord_num     0
sls_prd_key     0
sls_cust_id     0
sls_order_dt    0
sls_ship_dt     0
sls_due_dt      0
sls_sales       8
sls_quantity    0
sls_price       7
dtype: int64

In [ ]:
#Customer table
# 4 missing customer IDs - float
# No missing customer keys - object
# 8 missing first names - object
# 7 missing last names - object
# 7 missing marital status values - object
# 4578 missing gender values - object
# 4 missing creation dates - object

In [57]:
df_cust['cst_id'] = df_cust['cst_id'].fillna(00000.0)

In [53]:
cols = ['cst_firstname','cst_lastname','cst_marital_status','cst_gndr']
df_cust[cols] = df_cust[cols].fillna('Unknown')

In [55]:
df_cust['cst_create_date'] = df_cust['cst_create_date'].fillna('5999-01-01')

In [40]:
df_cust.isna().sum()

cst_id                    0
cst_key                   0
cst_firstname             0
cst_lastname              0
cst_marital_status        0
cst_gndr                  0
cst_create_date       18494
dtype: int64

In [56]:
df_cust.isna().sum()

cst_id                0
cst_key               0
cst_firstname         0
cst_lastname          0
cst_marital_status    0
cst_gndr              0
cst_create_date       0
dtype: int64

cust_nan - removed

In [ ]:
# 2 missing product costs
# 17 missing product line values
# No missing product start dates
# 197 missing product end dates (significant data quality issue)

In [58]:
df_prd['prd_cost'] = df_prd['prd_cost'].fillna(0.00)

In [61]:
df_prd['prd_line'] = df_prd['prd_line'].fillna('Unknown')

In [62]:
df_prd['prd_end_dt'] = df_prd['prd_end_dt'].fillna('5999-01-01')

In [63]:
df_prd.isna().sum()

prd_id          0
prd_key         0
prd_nm          0
prd_cost        0
prd_line        0
prd_start_dt    0
prd_end_dt      0
dtype: int64

In [ ]:
#sls_sales       8 Nan
#sls_price       7 Nan

In [64]:
cols = ['sls_sales','sls_price']
df_sales[cols] = df_sales[cols].fillna(0.00)

In [65]:
df_sales.isna().sum()

sls_ord_num     0
sls_prd_key     0
sls_cust_id     0
sls_order_dt    0
sls_ship_dt     0
sls_due_dt      0
sls_sales       0
sls_quantity    0
sls_price       0
dtype: int64

In [73]:
df_cust.duplicated().sum()

np.int64(0)

In [72]:
df_prd.duplicated().sum()

np.int64(0)

In [71]:
df_sales.duplicated().sum()

np.int64(0)

In [76]:
df_cust[df_cust.duplicated()]

Empty DataFrame
Columns: [cst_id, cst_key, cst_firstname, cst_lastname, cst_marital_status, cst_gndr, cst_create_date]
Index: []

In [75]:
df_prd[df_prd.duplicated()]

Empty DataFrame
Columns: [prd_id, prd_key, prd_nm, prd_cost, prd_line, prd_start_dt, prd_end_dt]
Index: []

In [74]:
df_sales[df_sales.duplicated()]

Empty DataFrame
Columns: [sls_ord_num, sls_prd_key, sls_cust_id, sls_order_dt, sls_ship_dt, sls_due_dt, sls_sales, sls_quantity, sls_price]
Index: []

In [78]:
df_cust['cst_create_date'] = pd.to_datetime(df_cust['cst_create_date'] , errors='coerce')

In [82]:
df_cust.dtypes

cst_id                       float64
cst_key                       object
cst_firstname                 object
cst_lastname                  object
cst_marital_status            object
cst_gndr                      object
cst_create_date       datetime64[ns]
dtype: object